APP_NAME="Mini Rag"
APP_VERSION=0.1

FILE_ALLOWED_TYPES=["text/plain","application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB

MONGODB_URI="mongodb://username:password@localhost:###"
MONGODB_DATABASE="###_db"
# =============================LLM CONFIGURATION=============================
GENERATION_BACKEND=""
EMBEDDING_BACKEND=""

OPENAI_API_KEY=""
OPENAI_API_URL=""
COHERE_API_KEY=""

GENERATION_MODEL_ID=""
EMBEDDING_MODEL_ID=""
EMBEDDING_MODEL_SIZE=

INPUT_DEFAULT_MAX_CHARACTERS=
GENERATION_DEFAULT_MAX_TOKENS=
GENERATION_DEFAULT_TEMPERATURE=


# ===============================Vector DB Config======================================

VECTOR_DB_BACKEND=
VECTOR_DB_PATH=
VECTOR_DISTANCE_METHOD=


###############################Template Configs#################################################

PRIMARY_LANGUAGE=
DEFAULT_LANGUAGE=